{% extends 'base.html' %}

{% block title %}Predict Top 9 Movies {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <p class="lead"><br>Choose a user and then select a movie!<br>
        <br>
        If the user has seen the movie, you will see their selected rating.<br>
        Otherwise you will see the predicted rating indicating whether they
        will enjoy the movie or not.</p>
    </div>
    <div class="col-lg-6 text-center">
        <form action="/top9" method="post">
            <div class="form-group">
                <div class="row form-group">
                    <label for="user">Select User</label>
                    <select class="form-control" id="user" required name="user" placeholder="user">
                        {% for user in users %}
                        <option value={{ user }}>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row float-right form-group">
                    <button type="submit" class="btn btn-outline-primary">Predict</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}